pytest-homeassistant-custom-component==0.13.367
# Requirements of the HA components this integration loads in tests

aiousbwatcher==1.1.2
bleak-retry-connector==4.7.0
bleak==3.0.2
bluetooth-adapters==2.4.0
bluetooth-auto-recovery==1.6.4
bluetooth-data-tools==1.29.24
dbus-fast==5.0.22
fnv-hash-fast==2.0.3
habluetooth==6.26.11
psutil-home-assistant==0.0.1
serialx==1.10.0
